@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.form-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/adminToolsBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

  form{
    margin: 10px;
  }

  .form-border{
    padding: 40px 20px;
    background-color: #e0d7d2c9;
    border: 5px solid #f9f9f9;
    border-radius: 3px;
    line-height: 1.8em;
    color: #282e34;
    text-align: right;
    margin: 10px;
  }

  .form-title{
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
  }

  input{
    width: 100px;
  }

  .submit-container{
    text-align: center;
    margin: 30px 0px 0px 0px;
  }
  
  .submit{
    padding: 10px 30px;
    border: snow 4px solid;
    border-radius: 18px;
    background: #a5a58d;
    cursor: pointer;
    color: snow;
    opacity: .8;
  }

  .submit:hover{
    opacity: 1;
  }

  .bottom-sub-text{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }


@media screen and (min-width: 321px) {

  .form-border{
    padding-top: calc(40px + (100vw - 321px)*.08);
    padding-bottom: calc(40px + (100vw - 321px)*.08);
    padding-left: calc(20px + (100vw - 321px)*.05);
    padding-right: calc(20px + (100vw - 321px)*.05);
    /* padding: 40px 20px; */
  }

}

@media screen and (min-width: 991px) {
  .form-border{
    padding: 94px 54px;
  }
}