@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body, html{
  font-size: 16px;
  font-family: "Lato", sans-serif;
  height: 100%;
  background: #282e34;
  color: snow;
  font-weight:  400;
}

/* * start header on the top of the page */

header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  color: white;
  background: #282e34;
  font-family: 'Montserrat', sans-serif;

}

.header-title-container{
  float: left;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  float: left;
  align-items: center;
  letter-spacing: 8px;
  padding: 0px 10px;
  margin: 0px 10px;
}

    .header-title-text{
      font-size: 40px;
      font-weight: 900;
    }

      .header-title-text span{
        font-weight: 400;
        font-size: 24px;
      }

  .header-navigation-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0px 10px;
  }

    .nav-btn-container{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

      .nav-btn-container a{
        transition: all 0.3s ease 0s;
      }

        .nav-btn-container a:hover{
          background-color: white;
          color: #282e34;
        }

      .nav-btn{
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        padding: 20px 0px 20px 0px;
      }



    /* * start body styling */

      .parallax-img{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

        .parallax-img-about{
          background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url('/img/art/art3.jpg');
          height: 80vh;
        }
          
        .parallax-img-art{
          background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url('/img/art.jpg');
          height: 60vh;
        }
          
        .parallax-img-science{
          background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url('/img/science.jpg');
          height: 60vh;
        }
          
        .parallax-img-business{
          background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url('/img/business.jpg');
          height: 60vh;
        }
          
        .parallax-img-travel{
          background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url('/img/travel.jpg');
          height: 60vh;
        }

      .parallax-text{
        position: absolute;
        width: fit-content;
        text-align: center;
        color: #282e34;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin: 0px 10px;
      }

      .span-small{
        font-size: 20px;
        word-spacing: 0;
      }

      .span-medium{
        font-size: 40px;
        letter-spacing: 0;
      }

      .search-area-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .search-area{
        background-color: snow;
        padding: 10px;
        font-size: 20px;
        opacity: .6;
        margin-top: 10px;
        width: fit-content;
      }

        .parallax-text-border{
          background-color: snow;
          padding: 10px;
          opacity: .6;
        }
        
      .section{
        text-align: center;
        padding: 80px 30px;
        line-height: 1.8em;
      }

      .section-text-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .section-light{
        background-color: snow;
        color: #282e34;
      }

        .section-light  a{
          color: snow;
        }
        
        .section-dark{
          background-color: #282e34;
          color: snow;
        }
        
        .section-dark a{
          color: snow;
        }
        
        .section-title{
          font-size: 20px;
        }

        .section-text{
          max-width: 1000px;
        }

      .section-button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }

      .section-light .section-button-border{
        width: fit-content;
        border: #282e34 solid 4px;  
        border-radius: 3px;
        padding: 15px 30px;
        background-color: #a5a58d;
        font-weight: 700;
        letter-spacing: 4px;
        transition: all 0.2s ease 0s;
      }

      .section-light .section-button-border:hover{
        background-color: snow;
        color: #a5a58d;
        border: #a5a58d solid 4px;
        border-radius: 3px;
      }

      .section-dark .section-button-border{
        width: fit-content;
        border: snow solid 4px;  
        padding: 15px 30px;
        background-color: #a5a58d;
        border-radius: 3px;
        font-weight: 700;
        letter-spacing: 4px;
        opacity: .7;
        transition: all 0.2s ease 0s;
      }

      .section-dark .section-button-border:hover{
        background-color: snow;
        color: #a5a58d;
        border: #a5a58d solid 4px;
        border-radius: 3px;
      }
        
@media screen and (min-width: 321px) {

  .header-title-text{
    font-size: calc(40px + (100vw - 321px)*.05);
  }

    .header-title-text span{
      font-size: calc(24px + (100vw - 321px)*.01);
    }

    .header-navigation-container{
      width: calc(300px + (100vw - 321px) * .2);
    }

  .parallax-text{
    font-size: calc(36px + (100vw - 321px)*.03);
  }

}

@media screen and (min-width: 500px) {
  .parallax-img{
    background-attachment: fixed;
  }
}

@media screen and (min-width: 991px) {
  .header-title-text{
    font-size: 74px;
  }

    .header-title-text span{
      font-size: 31px;
    }

    .header-navigation-container{
      width: 434px;
    }

  .parallax-text{
    font-size: 56px;
  }
}














/* * start footer on the bottom of the page */

.footer, .push{
  height: 75px;
}

.footer{
  background-color: #282e34;
  text-align: center;
}

.footer a{
  color: white;
}