*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}

body, html{
  width: 100%;
  height: 100%;
  background-color: #282e34;
}

.section-header-container{
  margin: 30px;
  color: snow;
  text-align: center;
}

  .section-header{
    font-size: 80px;

  }

.outer-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrapper{
  padding: 10px 15px;
  display: block;
  /* border: 3px solid green; */
}

.img-option-outer-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  width: 100vw;
  justify-items: center;
  max-width: 1170px;
  /* border: 3px solid red; */

}

.img-option-inner-container{
  height: 60vw;
  width: 100%;
  background: url("/img/art/art1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* border: 3px solid blue; */
}


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 5px solid snow;
}


@media screen and (min-width: 400px) {

  .img-option-inner-container{
    height: 245px;
    width: 370px;
  }

}

@media screen and (min-width: 800px) {

  .img-option-inner-container{
    height: 25vw;
    width: 100%;
  }

  .img-option-outer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

}

@media screen and (min-width: 1200px) {

  .img-option-inner-container{
    height: 300px;
    width: 577px;
  }
}

.submit-container{
  text-align: center;
  margin: 30px;
}

