.full-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.outer-wrapper{
  display: block;
}

.inner-wrapper{
  width: 350px;
  height: 100%;
  background-color: white;
  margin: 0px 0px 20px 0px;
  border-radius: 14px;
}

.post-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
}

.post-title{
  color: #282e34;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
  margin: 20px;
}

.post-content{
  color: #282e34;
  padding: 0px 20px 0px 20px;
  line-height: 1.8em;
}

.display-comments-wrapper{
  width: 300px;
}

.comment-wrapper{
  background: white;
  color: #282e34;
  border-radius: 14px;
  margin: 10px;
}

.comment-author{
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  letter-spacing: 3px;
}

.comment-content{
  line-height: 1.3em;
  font-size: 14px;
  padding: 0px 10px 10px 10px;
}

.comment-wrapper:nth-child(2n){
  background: #d1d1d1;
}

.write-comment-wrapper{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 20px 10px 20px 10px;
}

#commentArea{
  width: 280px;
}

@media screen and (min-width: 500px){
  .inner-wrapper{
    width: 450px;
  }

  .post-title{
    font-size: 32px;
  }

  .post-image img{
    height: 400px;
  }
}

@media screen and (min-width: 600px){
  .inner-wrapper{
    width: 550px;
  }

  .post-title{
    font-size: 34px;
  }

  .post-image img{
    height: 500px;
  }

  .display-comments-wrapper{
    width: 500px;
  }

  #commentArea{
    width: 480px;
  }
}

@media screen and (min-width: 700px){
  .inner-wrapper{
    width: 650px;
  }

  .post-title{
    font-size: 36px;
  }

  .post-image img{
    height: 600px;
  }
}

@media screen and (min-width: 900px){
  .inner-wrapper{
    width: 850px;
  }
}